* {
  padding: 0;
  margin: 0;
  /* font-size: 0; */
  background-color: #eee;
}

hr {
  border: none;
  /* border-top: 1px solid #E3E7EB; */
  overflow: visible;
  text-align: center;
  margin-top: 24px;
  height: 17px;
}
hr.account-hr:after {
  content: "계정관리";
  position: relative;
  top: -7px;
  padding: 0 10px;
  color: #868E96;
  /* font-size: 0.8em; */
}

hr.mint-hr:after {
  content: "NFT 발행";
  position: relative;
  top: -7px;
  padding: 0 10px;
  color: #868E96;
  /* font-size: 0.8em; */
}

hr.information-hr:after {
  content: "NFT 조회";
  position: relative;
  top: -7px;
  padding: 0 10px;
  color: #868E96;
  /* font-size: 0.8em; */
}

.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.account .private-key,
.account .balance {
  padding: 5px;
}

.account .private-key button {
  margin-top: 15px;
  width: 100%;
}

input {
  width: 100%;
  border-radius: 5px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 14px;
  border: 0;
  background-color: white;
}

label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

input[type="file"] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

button {
  border-radius: 5px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 14px;
  border: 0;
  background-color: #F39C12;
  color: #eee;
  cursor: pointer;
}

.account .balance {
  font-size: 25px;
}

.account .balance .eth,
.account .balance .nft {
  display: flex;
  justify-content: space-between;
}

.mint>div {
  padding: 5px;
}

.mint>div,
.mint>div>input,
.mint>div>button {
  width: 100%;
}

.information>div {
  width: 100%;
  padding: 5px;
}

.information>div>button {
  width: 100%;
}

.information .nft-desc img,
.information .author,
.information .datetime {
  width: 100%;
  font-size: 24px;
}

.information .author,
.information .datetime {
  display: flex;
  justify-content: space-between;
}